[flake8]
max-line-length = 120
extend-ignore =
    E203,  # whitespace before ':'
    W503,  # line break before binary operator
    E501,  # line too long (handled by black)
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    .mypy_cache,
    .tox,
